@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
